*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'iranyekanwebregular',Arial, Helvetica, sans-serif;
}
header{
    font-family: 'YekanBakhMedium';
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 1170px;
    margin: auto;
    padding:21px 0 7px;
    position:sticky;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px); 
    transition: all 0.3s ease;
}
.logo{
    margin: 11px 28px;
}
.header-ul {
    display: flex;
    list-style: none;  
}
.header-ul li a{
    text-decoration: none;
    color: #303030;
    cursor: pointer;
}
.header-ul li{
    position: relative;
    font-size: 14px;
    margin: 0 15px;  
}
.header-ul > li:last-child a{
    font-family:'YekanBakhBold';
    background: rgba(232, 239, 254, 0.6);
    padding: 10px 27px;
    margin-right: 20px;
    border-radius: 20px;
    color: #28457b;
}
.header-ul > li:last-child a:hover{
    background-color: #fbf6d9;
}
.more-menu {
    display: flex;
}
.more-menu img{
    width: 8px;
    margin-right: 8px;
}
.hamburger-icon {
    width: 27px;
    display: none;
}
.hamburger-menu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    font-family: 'YekanBakhMedium';
    transform: translateY(-100%);
}
.cross-icon{
    width: 100%;
    text-align: left;
    padding: 25px 0;
}
.cross-icon img{
    width: 20px;
    margin-left: 30px;
}
.hamburger-menu-items{
    padding: 10px 30px;
}
.hamburger-menu-items ul{
    list-style: none;
}
.hamburger-menu-items a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
}
.hamburger-menu-items div{
    height: 1px;
    width: 90%;
    background-color: #dfe1e4;
    margin: 8px 0;
}
.more-item{
    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items: center;
}
.more-item img{
    width: 15px;
    margin-right: 5px;
}
.more-item a{
    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;
}

.product-box{
    position: absolute;
    top: 40px;
    right: -100px;
    width: 372px;
    background: #ffffff;
    line-height: 2.5rem;
    border-radius: 10px;
    border-top: 5px solid #f8e88b;
} 
.product-box .products{
    width: 100% ;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.3rem;
}
.product-box .subtitle{
    margin-top: -15px;
    font-size: 11px;
}
.products .product-right{
    width: 50%;
}
.products .sub-text:hover{
    background: #f1f5fe;
    border-radius: 10px;
}
#navbar .title{
    font-size: 15px;
}
#navbar .product-box{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
#navbar ul li:hover .product-box{
    opacity: 100;
    visibility: visible;
}
#navbar .sub-box {
    position: absolute;
    display: inline-block;
    top: 40px;
    right: -40px;
    width: 123px;
    background: #ffffff;
    line-height: 2.5rem;
    border-radius: 10px;
    border-top: 5px solid #f8e88b;
    padding: 0.5rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.sub-box li{
    padding: 0 15px;
}
#navbar ul li:hover .sub-box{
    opacity: 100;
    visibility: visible;
}
#navbar .sub-box .more-menu:hover{
    background: #f1f5fe;
}
.main-header{
    display: flex;
    font-family: 'YekanBakhMedium';
    background: linear-gradient(135deg, #081b4d 0%,#2b4981 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #ffffff;
    border-radius: 20px;
    flex: 1;
}
.main-header .content-header{
    display: flex;
    flex-direction: column ;
    width:50%;
    padding:  8rem 4.5rem 8rem 0;
}
.main-header .request-money{
    width: 50%;
    height: 700px;
    padding: 8rem 1rem 0 5rem;
}

.header-title{
    font-size: 21px;
    line-height: 3rem;
}
.main-header .content-header p{
    font-size: 18px;
    line-height: 2.5rem;
    margin: 1.5rem 0;
}
button {
    margin-top: 2rem;
    font-family: 'YekanBakhMedium';
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f5db48;
    border: none;
    cursor: pointer;
}
.login-btn .login{
    background-color: #ffdd1f;
}
.login-btn .btn{
    background-color: #94a8c262;
    margin-right: 6px;  
}
.btn a{
    color: #ffffff; 
}
.row{
    display: grid;
    font-family: 'YekanBakhMedium';
    grid-template-columns: 1fr 1fr;
    margin: 8rem 0;
}
.row .peyment-getway-picture {
    background: url("../images/pg.svg") no-repeat;
    width: 463px;
    height: 483px;
    top: -29px;
    right: -15px;
    padding-left: 8rem;
}
.row .zarinlink-image{
    background: url("../images/payout.svg")no-repeat;
    width: 596px;
    height: 400px;
}
.section-pg {
    line-height: 2.5rem;
    text-align: justify;
}
.section-pg p{
    border-bottom: 1px solid #dfe1e4;
    padding-bottom: 20px;
    padding-left: 2rem;
}
.row .top-title h2{
    font-family: 'YekanBakhMedium';
    font-weight: 500;
    color: #6a6b6e;
}
.read-more{
    background-color: #94a8c262;
    margin-right: 6px;    
}
.read-more img{
    vertical-align: middle;
}
.readmore{
   margin-top: 2rem;
    width: 100%;
    padding: 0 1rem;
}
.more{
    font-family: 'YekanBakhMedium';
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.table-box .boxing{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 2rem 2rem 2rem;
    position: relative;
}
.col-md-4 h2{
    list-style: 2rem;
    font-size: 30px;
}
.content-box-standard{
    line-height: 2.5rem;
    text-align: justify;
    margin: 3rem 0 3rem 5rem;
}
.table-box {
    border-collapse:collapse;
}
.table-box .icon-default::before{
    content: "";
    height: 60px;
    width: 60px;
    position: absolute;
    right: -30px;
}
.table-box .verifiedIcon::before{
    background: url("../images/verifiedIcon.svg") no-repeat;
}
.table-box .icons-split::before{
    background: url("../images/splite.svg") no-repeat;
}
.table-box .icons-support::before{
    background: url("../images/support.svg") no-repeat;
}
.table-box td{
    padding: 1rem 4rem 2.5rem 1rem ;
    border: solid 1px rgb(233, 227, 227);
    border-collapse:collapse
}
.sub-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.box{
    margin-top: 4rem;
}
.join-box{
    font-family: 'YekanBakhMedium';
    display: flex;
    flex-direction: column;
    border: solid 1px #d5d7db;
    border-radius: 20px;
    align-items: center;
    padding: 3rem 0;
}
.title1{
    font-family: 'YekanBakhHeavy';
    line-height: 3rem;
    font-size: 30px;
}
.title2{
    font-size:22px;
    line-height: 3rem;
    color: #8d8e92;
}
.start-btn{
    padding: 0 10px;
    background:#ffdd1f;
    border-radius: 10px;
}
.info{
    margin-top: 3rem;
    width: 100%;
    font-family: 'YekanBakhHeavy';
    font-size: 23px;
    padding: 1rem;
    background-color: #f8f2ed;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-txt{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.request-support img{
  vertical-align: middle;
}
.request-support a{
    color: #032c77;
}
.info-txt .number{
    color: #032c77;
}
#footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'iranyekanwebmedium';
}
.footer-box{
    display: flex;
}
.footer-box li{
    list-style: none;
}
.bold-title{
    font-family: 'YekanBakhHeavy';
    font-size: 20px;
    line-height: 4rem;
}
.box1{
    line-height: 2.5rem;
}
.box2{
    line-height: 2.5rem;
    padding: 0 2rem;
}
.social-box{
    display:flex ;
    flex: 1;
    gap: 0.5rem;
    align-items: center;
}
.social-box a{
    display: flex;
    border-radius: 10px;
    padding: 10px ;  
    background: #dee8fa;
}
.social-box img{
    height: 22px;
    width: 22px;
}
.footer-social {
    padding-left: 4rem;
}
.copyright{
    text-align: center;
    margin: 3rem 0;
    font-family: 'iranyekanwebmedium';
    font-size: 13px;

}



.show-hamburger-menu {
    animation: fadeInDown 0.25s forwards;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px){
    header{
        width: 940px;
    }

@media (max-width: 990px){
    header{
        width: auto;
    }
    .header-ul li:last-child{
        display: none;
    }
    .logo{
        margin: 0;
    }
    .header-ul li{
        margin: 0 10px;
    }
}

@media (max-width: 768px){
    .header-ul{
        display: none;
    }
    .header{
        width: auto;
        padding: 10px 8px;
    }
    .hamburger-icon{
        display: block;
    }
}






/* @media (max-width: 768px){
    body{
        margin: 0 0.5rem;
    }
    .links {
        font-family: 'iranyekanwebregular';
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .headen-links .aplication{
        margin-bottom: 1rem;
    }
    .links .headen-links{
        padding: 4rem 0 0 1rem;
    }
    .links .headen-links li{
        line-height: 2rem;
        list-style: none;
    }
    .container{
        height: 66px;
    }
    #navbar ul{
        display: none;
        opacity: 0;
    } */
    /* #navbar .icon-menu{
        background: url("../images/hamburger.svg") center no-repeat;
        width: 100px;
        height: 100px;
    } */
}
/* @media (min-width: 769px) and (max-width: 991px){
    body{
        margin: 0 2.3rem;
        font-size: 15px;
    }
    .links {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    #navbar .icon-menu{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    #navbar .zarinpal-link{
        visibility: hidden;
        display: none;
    }
    .main-header .request-money{
        visibility: hidden;
        display: none;
    }
    .main-header .content-header{
        display: flex;
        width: 100%;
        flex-direction: column ;
        text-align: center;
        padding: 3rem  ;
    }
    .main-header .content-header p{
        line-height: 2.5rem;
        margin: 0;
    }
    .row{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .row .center{
        margin: 0 auto;
        margin-top:5rem;
    }
    .zarinplus{
        margin: auto;
    }
    .more{
        font-family: 'YekanBakhMedium';
        display: grid;
        grid-template-columns: 1fr;
    }
    .table-box td{
        padding: 3rem 4rem 3rem 1rem ;
        border: none;
    }
    .info{
        font-size: 16px;
    }
    #footer{
        flex-direction: column;
        font-size: 13px;
    }
    .footer-box{
        display: flex;
        gap: 2rem;
    }
    .bold-title{
        font-size: 16px;
        line-height: 2rem;
    }
    .social-box{
        display:flex ;
        flex: 1;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }
    .social-box img{
        height: 15px;
        width: 15px;
    }
} */
/* @media (min-width: 992px) {
    .links {
        visibility: hidden;
        display: none;
    }
    #navbar .icon-menu{
        visibility: hidden;
        display: none;
    } */
/* } */

