*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'iranyekanwebmedium';
    src: url('../fonts/iranyekanwebmedium.woff') format('woff');
}
@font-face {
    font-family: 'iranyekanwebregular';
    src:  url('../fonts/iranyekanwebregular.woff') format('woff');
}
@font-face {
    font-family:'YekanBakhBold';
    src: url('../fonts/YekanBakhBold.woff') format('woff');
}
@font-face {
    font-family: 'YekanBakhHeavy';
    src:url('../fonts/YekanBakhHeavy.woff') format('woff');
}
@font-face {
    font-family: 'YekanBakhMedium';
    src:url('../fonts/YekanBakhMedium.woff') format('woff');
}
body{
    line-height: 2rem;
    margin: 0 8rem;
}
a{
    text-decoration: none;
    color: #000000;
}
.container{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position:sticky;
    background: rgba(255, 255, 255, 0.623);
    backdrop-filter: blur(20px); 
    height: 100%;
}
.arrow{
    width: 7px;
    height: 7px;
}
#navbar ul {
    display: flex;
    align-items: center; 
}
#navbar ul li{
    position: relative;
    font-family: 'YekanBakhMedium';
    font-size: small;
    list-style: none;
    margin: 0 1rem;   
}
.zarinpal-link{
    font-family:'YekanBakhBold';
    background: #f1f5fe;
    padding: 0.7rem 1.7rem;
    border-radius: 26px;
    color: #1b2d5c;
}
.product-box{
    position: absolute;
    top: 40px;
    right: -100px;
    width: 372px;
    background: #ffffff;
    line-height: 2.5rem;
    border-radius: 10px;
    border-top: 5px solid #f8e88b;
} 
.product-box .products{
    width: 100% ;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.3rem;
}
.product-box .subtitle{
    margin-top: -15px;
    font-size: 11px;
}
.products .product-right{
    width: 50%;
}
.products .sub-text:hover{
    background: #f1f5fe;
    border-radius: 10px;
}
#navbar .title{
    font-size: 15px;
}
#navbar .product-box{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
#navbar ul li:hover .product-box{
    opacity: 100;
    visibility: visible;
}
#navbar .sub-box {
    position: absolute;
    display: inline-block;
    top: 40px;
    right: -40px;
    width: 123px;
    background: #ffffff;
    line-height: 2.5rem;
    border-radius: 10px;
    border-top: 5px solid #f8e88b;
    padding: 0.5rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
#navbar ul li:hover .sub-box{
    opacity: 100;
    visibility: visible;
}
#navbar .sub-box .more-menu:hover{
    background: #f1f5fe;
}
.main-header{
    display: flex;
    font-family: 'YekanBakhMedium';
    background: linear-gradient(135deg, #081b4d 0%,#2b4981 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #ffffff;
    border-radius: 20px;
}
.main-header .content-header{
    display: flex;
    flex-direction: column ;
    width:50%;
    padding:  8rem 4.5rem 8rem 0;
}
.main-header .request-money{
    width: 50%;
    height: 700px;
    padding: 8rem 1rem 0 5rem;
}
.main-header .header-title{
    font-size: 21px;
    line-height: 3rem;
}
.main-header .content-header p{
    font-size: 18px;
    line-height: 2.5rem;
    margin-top: 1.5rem;
}
button {
    margin-top: 4rem;
    font-family: 'YekanBakhHeavy';
    font-size: 15px;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #f8e88b;
    border: none;
}
.login-btn .login{
    background-color: #ffdd1f;
}
.login-btn .btn{
    background-color: #94a8c262;
    margin-right: 6px;  
}
.btn a{
    color: #ffffff; 
}







@media (max-width: 768px){
    body{
        margin: 0 0.5rem;
    }
    .links {
        font-family: 'iranyekanwebregular';
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .headen-links .aplication{
        margin-bottom: 1rem;
    }
    .links .headen-links{
        padding: 4rem 0 0 1rem;
    }
    .links .headen-links li{
        line-height: 2rem;
        list-style: none;
    }
    .container{
        height: 66px;
    }
    #navbar ul{
        display: none;
        opacity: 0;
    }
    /* #navbar .icon-menu{
        background: url("../images/hamburger.svg") center no-repeat;
        width: 100px;
        height: 100px;
    } */
}
@media (min-width: 769px) and (max-width: 991px){
    body{
        margin: 0 2.5rem;
    }
    .links {
        visibility: hidden;
        display: none;
    }
    #navbar .icon-menu{
        visibility: hidden;
        display: none;
    }
    #navbar .zarinpal-link{
        visibility: hidden;
        display: none;
    }
}
@media (min-width: 992px) {
    .links {
        visibility: hidden;
        display: none;
    }
    #navbar .icon-menu{
        visibility: hidden;
        display: none;
    }
}

